# VS Code.
.vscode

# JetBrains.
.idea

# Python specific.
__pycache__/
*.py[cod]
*$py.class

# Cache for modules (just in case).
.mypy_cache
.pytest_cache

# Environments.
.env
.venv
env/
venv/

# Logs.
logs/
*.log

# Application runtime data.
/storage/
